body {
   	background-color: #292e37;
   	text-align: center;
}

h2 {
	font-size: 4em;
	color:gold;
	font-style: bold;
	line-height: 1;
	text-align: center;
}

h3 {
	font-size: 2em;
	color:grey;
	font-style: bold;
	line-height: .5;
	text-align: center;
}

h4 {
	font-size: 1.5em;
	color:white;
	font-style: bold;
	line-height: 1;
	text-align: center;
	border-radius: 2px;
	padding: 10px;
	border-style: solid;;
	border-color: white;
	border-width: 50%;
	background-color: #292e37;
}

}

/* BOOTSTRAP CLASSES =================================================================== */

.container {
	margin:0;
	padding:0;
}

.container-fluid {
	margin:0;
	padding:0;
	z-index: 2;
}

.navbar {
	z-index: 1;
	padding: 0;
	max-height: 6em;
	min-height: 6em;
	background-color: white;
	width:100%;
}

.nav {
	padding:0;
	background-color: white;
	position:absolute;
	border-radius: 0;
}

.row {
	margin:0;
	padding:0;
}

div {
	margin:0;
	padding:0;
}

/* CUSTOM CLASSES =================================================================== */

.display { /*backgroung image */
	display:block;
	position:absolute;
	top:0px;
	text-align: center;
	width: 100%;
	opacity: 0.5;	
}

.bg-color { /*staging*/
	background-color: (#292e37);
	width: 100%; 
	overflow:auto;
}

.title {
	text-align: right;
	font-family: 'Alice', serif;
	float:right;
}

.imageContainer { /*cards */
	margin: 7em 0 12em 1em;
	z-index: 1;
	margin-bottom: 25em;
	position: relative;
}

.imageContainer2 { /* Javascript */
	color:white;
	opacity: 100%;
	z-index: 1;
	margin: 7em 0 12em 1em;
	position:relative;
}


.logo {
	height:3em;
	max-width:4em;
	padding-bottom: 3em;
	float:left;
}

.footer {
	z-index: 3;
	background-color: #0e1215;
	height:5em;
	text-align: center;
	color:white;
	font-family: 'Alice', serif;
	font-size: 75%;
	margin-top: 5em;
	padding-top: 2em;
	width: 100%;
	position:fixed;
	bottom:0px;
}

.hangmanTitle {
	color:white;
	font-family: 'Alice', serif;	
	font-size: 2em;
	text-align: center;
	justify-content: center;
	line-height: 1.5;
}

.hangmanDirections {
	color: white;
	font-family: 'ABeeZee', sans-serif;
	text-align: center;
	font-size:1em;
	line-height: : 2;
}

hr {
	border-color:white;
}

.currentWord {
	font-family: 'Alice', serif;
	line-height: 3;
	text-align: center;
}

#word {
	color:white;
	text-align: center;
}

#status {
	font-family: 'Alice', serif;
}

.empty {
	position: relative;
	margin: 20 0 0em 0;
}
/* CARD FLIP CSS =================================================================== */
#f1_container {
  position: relative;
  margin: 10px 5%;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);

}
.face {
  position:fixed;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  padding: 10px;
}


/* REMOVE TITLE AT MOBILE =================================================================== */

@media screen and (max-width: 640px) and (min-width: 240px){

	h1 {
		display:none; 
	}
}	